@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;900&display=swap");

:root {
  --gray: #797596ff;
  --green: #a2d729ff;
  --red: #c02a2e;
  --darkBlue: #060b19ff;
  --black: #000;
  --white: #ececec;
  --borderColor: #ffffff80;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--white);
  background: var(--black);
}
